font-family = "Inconsolata", Andale Mono, Monaco, Monospace
font-size = 24px
@import url('https://fonts.googleapis.com/css?family=Inconsolata')
// @font-face{
//     font-family:Haettenschweiler
//     src:url(./assets/font/Haettenschweiler.ttf)
// }
// @font-face{
//     font-family:robot
//     src:url(./assets/font/Roboto-Thin.ttf)
// }
body{
    background: black
    #input {
        span{
            color: white
            font-size: font-size
            font-family: font-family
        }
        input{
            color: white
            background-color :black 
            outline: none
            border: none
            width: 80%
            font-size: font-size
            font-family: font-family
        }
    }
    #output {
        .result{
            color: white
            font-size: font-size
            font-family: font-family
        }
    }
}